@{ Layout = "MasterPageDeslogado"; } 

@section styles {
    <link rel="stylesheet" href="/css/login.css"> 
}

<html>

<body>
    <main>
        <div id="logar">
            <h1>Login</h1>
            <form action="/Usuario/Login" method="POST" class="log_form">
                <div class="inputLabel">
                    <input name="email" type="email">
                    <label>E-mail</label>
                </div>
                <div class="inputLabel">
                    <input name="senha" type="password">
                    <label>Senha</label>
                </div>
                <div class="btn">
                    <input type="submit" value="Enviar">
                </div>
                <hr>
                <a href="/Usuario/Cadastro">Ainda não possui uma conta? Cadastre-se!</a>
            </form>
        </div>
    </main>
    </div>
    </div>
</body>

</html>