@{ Layout = "MasterPageDeslogado"; } 

@section styles {
    <link rel="stylesheet" href="/css/faq.css"> 
}

<body>
    <main>
        <section id="faq">
            <h1>Perguntas Frequentes</h1>
            <div class="quest">
                <ul>
                    <li>
                        Pergunta 1
                        <div>
                            <span>Resposta 1</span>
                        </div>
                    </li>
                    <li>
                        Pergunta 2
                        <div>
                            <span>Resposta 2</span>
                        </div>
                    </li>
                    <li>
                        Pergunta 3
                        <div>
                            <span>Resposta 3</span>
                        </div>
                    </li>
                    <li>
                        Pergunta 4
                        <div>
                            <span>Resposta 4</span>
                        </div>
                    </li>
                </ul>
            </div>
            <span class="endereco">Alameda Barão de Limeira, 539</span>
        </section>
    </main>
    <footer>
        <div id="plus">
            <div class="contain">
                <h2>Não foi útil?</h2>
                <br>
                <br>
                <textarea></textarea>
                <div id="btn">
                    <div class="btn">Enviar</div>
                </div>
            </div>
            <div class="img2">
                <img src="/imagens/icones/tel.png" alt="">
            </div>
        </div>
    </footer>
    </div>
    </div>
    <div id="chat">
        <div class="chat">
            <p>Fale Conosco</p>
        </div>
        <div class="cx">
            <img src="/imagens/icones/chat.png" alt="Chat">
        </div>
    </div>
</body>