@{ Layout = "MasterPageDeslogado"; } 

@section styles {
    <link rel="stylesheet" href="/css/style.css"> 
}

<body>
    <main>
        <section id="graf">
            <h1>Check Point</h1>
            <div class="img">
                <img src="/imagens/graf.png" alt="Gráfico de planos">
            </div>
            <span class="endereco">Alameda Barão de Limeira, 539</span>
        </section>
    </main>
    <footer>
        <div id="plus">
            <div class="img2">
                <img src="/imagens/home2.jpg" alt="Planejamento">
            </div>
            <div class="contain">
                <h2>Quem somos?</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur rerum, recusandae aperiam neque a consequatur
                    qui nam voluptatibus? Esse cumque ullam asperiores dolorem ex reprehenderit delectus sunt vitae quo nihil?
                    Cum dolore eius aliquam impedit corrupti itaque neque, expedita, facere asperiores dolorem maxime distinctio
                    dignissimos nobis eaque culpa laudantium quas ducimus cumque, alias deserunt quo temporibus quam?
                </p>
                <div class="btn">
                    <a class="link" href="/Pages/Sobre">Saiba Mais</a>
                </div>
            </div>
        </div>
    </footer>
    </div>
    </div>
    <div id="chat">
        <div class="chat">
            <p>Fale Conosco</p>
        </div>
        <div class="cx">
            <img src="/imagens/icones/chat.png" alt="Chat">
        </div>
    </div>
</body>