@{ Layout = "MasterPageDeslogado"; } 

@section styles {
    <link rel="stylesheet" href="/css/sac.css"> 
}

<body>
    <main>
        <div id="sac">
            <section class="contact">
                <h2>Fale Conosco</h2>
                <div class="telefone m">
                    <img src="/imagens/icones/telefone.png" alt="Telefone">
                    <span>5555-5555</span>
                </div>
                <div class="face m">
                    <img src="/imagens/icones/facebook.png" alt="Facebook">
                    <span>Carfel</span>
                </div>
                <div class="zip m">
                    <img src="/imagens/icones/whats.png" alt="Whatsapp">
                    <span>5555-5555</span>
                </div>
            </section>
            <form class="prc">
                <input type="text" placeholder="Digite seu nome">
                <input type="text" placeholder="E-mail">
                <textarea placeholder="Digite sua mensagem aqui"></textarea>
                <div id="btn">
                    <div class="btn">Enviar</div>
                </div>
            </form>
            <span class="endereco">Alameda Barão de Limeira, 539</span>
        </div>
    </main>
    </div>
    </div>
    <div id="chat">
        <div class="chat">
            <p>Fale Conosco</p>
        </div>
        <div class="cx">
            <img src="/imagens/icones/chat.png" alt="Chat">
        </div>
    </div>
</body>