@{ 
    Layout = "MasterPageDeslogado"; 
}


    <div id="back">
        <div class="opac">
            <main>
                <section id="about">
                    <h1>Sobre Nós</h1>
                    <div class="p">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quam, dolor possimus, laborum enim
                            eligendi quae consequuntur quia accusantium debitis dicta placeat, a doloribus et maiores quidem
                            cupiditate perspiciatis laudantium. Nemo dolores nesciunt, corporis sunt debitis repellat rerum
                            maxime corrupti deserunt perspiciatis beatae quo quaerat odio quia consequatur placeat aspernatur
                            omnis fuga, iusto soluta qui eius labore? Aliquam, nobis ipsam. Consectetur, mollitia. Nihil
                            blanditiis similique voluptas! Labore optio odit nobis asperiores quae vero quod repellendus
                            quasi fuga aliquam natus dicta rem, est beatae eius quisquam. Corporis vero necessitatibus ad
                            distinctio. Voluptas aliquam necessitatibus quod, aperiam praesentium, unde autem facere, voluptatum
                            officia enim nostrum fuga veniam voluptatibus ad. Odit natus, itaque ea soluta mollitia aliquid
                            incidunt iusto tenetur.</p>
                    </div>
                    <span class="endereco">Alameda Barão de Limeira, 539</span>
                </section>
            </main>
            <footer>
                <div id="plus">
                    <div class="img2">
                        <img src="imagens/sobre2.jpg" alt="Líder">
                    </div>
                    <div class="contain">
                        <h2>Nosso Representante</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur rerum, recusandae aperiam neque
                            a consequatur qui nam voluptatibus? Esse cumque ullam asperiores dolorem ex reprehenderit delectus
                            sunt vitae quo nihil? Cum dolore eius aliquam impedit corrupti itaque neque, expedita, facere
                            asperiores dolorem maxime distinctio dignissimos nobis eaque culpa laudantium quas ducimus cumque,
                            alias deserunt quo temporibus quam?
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <div id="chat">
        <div class="chat">
            <p>Fale Conosco</p>
        </div>
        <div class="cx">
            <img src="imagens/icones/chat.png" alt="Chat">
        </div>
    </div>
