<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    
    @RenderSection("styles", required: false)

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <script src="/js/script.js"></script>
    <title>Check Point</title>
</head>

<body>
    <div id="back">
        <div class="opac">
            <header>
                <div id="menu">
                    <div class="logo">
                        <a href="/">
                            <img src="/imagens/icones/logo.png" alt="Logo" class="logoimg">
                        </a>
                        <div class="tel">
                            <img src="/imagens/icones/telefone.png" alt="Telefone">
                            <span>5555-5555</span>
                        </div>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a href="/Pages/Sobre">Sobre Nós</a>
                            </li>
                            <li>
                                <a href="/Pages/FAQ">FAQ</a>
                            </li>
                            <li>
                                <a href="/Pages/SAC">SAC</a>
                            </li>
                            <li>
                                <a href="/Usuario/Login">Login</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>

            @RenderBody()

</body>

</html>