@{ Layout = "MasterPageLogadoAdmin"; }
@using Projeto_Check_Point.Models;

@section styles {
    <link rel="stylesheet" href="/css/admin.css"> 
    
}

<div class="conteiner">
    @foreach (ComentarioModel item in ViewData["Comentarios"] as List<ComentarioModel>){
        @if(item.Status=="em espera"){
        <div class="conteiner_int">
            <div class="header">
                <div class="texto">
                    @item.NomeUsuario
                </div>
                <div class="btns">
                    <a class="aproved" href="/Comentario/AprovarComentario?id=@item.IDComentario">Aprovar</a>
                    <a class="reproved" href="/Comentario/RecusarComentario?id=@item.IDComentario">Recusar</a>
                </div>
            </div>
            <div class="main">
                <p>@item.Comentario</p>
            </div>
            <div class="footer">
                <span>@item.DataComentario</span>
            </div>
        </div>
        }
    }
</div>