@{ Layout = "MasterPageLogadoAdmin"; }
@using Projeto_Check_Point.Models;

@section styles {
    <link rel="stylesheet" href="/css/admin.css"> 
    
}
<div class="tabela">
<table>
    <tbody>
        @foreach (ComentarioModel item in ViewData["Comentarios"] as List<ComentarioModel>)
        {
            @if(item.Status == "em espera" ){
            <tr>
                <td>
                    @item.NomeUsuario
                </td>
                <td class="itemtab">
                    <div>
                    @item.Comentario
                    </div>
                    <div>
                    <a href="/Comentario/AprovarComentario?id=@item.IDComentario">Aprovar</a>
                    <a href="/Comentario/RecusarComentario?id=@item.IDComentario">Recusar</a>
                    </div>
                </td>
                <td>
                    @item.DataComentario
                    <hr>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
</div>